#playarena{
    width:800px;
    height:500px;
    margin: auto;
    border: 1px solid #777;
    position: relative;
}
.field{
    float:left;
    width:78px;
    height:140px;
    border:1px dotted red;
}
.status_bar{
    width:100%;
    height:72px;
    border:1px dotted darkred;
    float:left;
}